<div class="send-request">
  <ng-container *ngIf="messages | async as _messageCollection">
    <mat-drawer-container>
      <mat-drawer
        mode="over"
        [opened]="(drawerOpen | async) ?? false"
        [disableClose]="true"
      >
        <app-side-bar
          *ngIf="(drawerOpen | async) ?? false"
          [mode]="_messageCollection.length > 0 ? 'ALREADY_EXISTING_MESSAGES' : 'NO_MESSAGES'"
          [messageToEdit]="editMessages | async"
          (request)="request($event.name, $event.event, $event.body)"
          (saveMessage)="saveMessage($event.name, $event.event, $event.body, $event.id)"
          (close)="drawerClose()"
        ></app-side-bar>
      </mat-drawer>

      <h3>
        Messages
        <mat-icon
          (click)="addMessage()"
          aria-hidden="false"
          aria-label="Add Request"
          fontIcon="add_outline"></mat-icon>
      </h3>
      <div *ngIf="_messageCollection.length > 0">
        <app-message-list
          [messageCollection]="_messageCollection"
          (editMessage)="editMessage($event)"
        ></app-message-list>
      </div>
    </mat-drawer-container>
  </ng-container>
</div>

<div class="history">
  <div class="category-title">
    <h3>History</h3>
    <div
      class="action"
    >
      <mat-icon
        *ngIf="((showHistory | async) ?? []).length > 0"
        (click)="removeAllHistory()"
        aria-hidden="false"
        aria-label="Remove history message"
        fontIcon="delete_outline"></mat-icon>
    </div>
  </div>
  <ng-container *ngIf="showHistory | async as _history">
    <div class="message" *ngFor="let historyId of _history">
      <mat-accordion multi>
        <ng-container *ngIf="(historyDetail(historyId) | async) as detail">
          <app-history-message
            *ngIf="isHistoryRecordMessage(detail)"
            [detail]="detail"
            (remove)="removeHistoryMessage(detail.id)"
          ></app-history-message>

          <app-history-connection
            *ngIf="isHistoryRecordConnection(detail)"
            [detail]="detail"
          ></app-history-connection>
        </ng-container>
      </mat-accordion>
    </div>
  </ng-container>
</div>
