<div class="send-request">
  <ng-container *ngIf="messages | async as _messageCollection">
    <mat-drawer-container>
      <mat-drawer
        mode="over"
        [opened]="(drawerOpen | async) ?? false"
        [disableClose]="true"
      >
        <h3>
          Send message
          <mat-icon
            *ngIf="_messageCollection.length > 0"
            (click)="drawerOpen.next(false)"
            aria-hidden="false"
            aria-label="Add Request"
            fontIcon="close_outline"></mat-icon>
        </h3>
        <form
          class="form"
          [formGroup]="sendRequestForm"
          (submit)="requestForm()"
        >
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input
              matInput
              type="text"
              [formControl]="sendRequestForm.controls.name"
              placeholder="Ex. Enable item (acceptance)">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Event</mat-label>
            <input
              matInput
              type="text"
              [formControl]="sendRequestForm.controls.event"
              placeholder="Ex. Test">
          </mat-form-field>
          <mat-form-field class="body">
            <mat-label>Body</mat-label>
            <textarea

              rows="15"
              matInput
              type="text"
              [formControl]="sendRequestForm.controls.body"
              placeholder='Ex. {"foo": "bar"}'
            >
                </textarea>
          </mat-form-field>


          <button
            mat-raised-button
            color="primary"
            (click)="drawerOpen.next(false)"
          >
            Send message
          </button>
        </form>
      </mat-drawer>

      <h3>
        Messages
        <mat-icon
          (click)="addMessage()"
          aria-hidden="false"
          aria-label="Add Request"
          fontIcon="add_outline"></mat-icon>
      </h3>
      <div *ngIf="_messageCollection.length > 0">
        <app-message-list
          [messageCollection]="_messageCollection"
          (duplicateMessage)="duplicateMessage($event)"
        ></app-message-list>
      </div>
    </mat-drawer-container>

  </ng-container>
</div>

<div class="history">
  <div class="category-title">
    <h3>History</h3>
    <div
      class="action"
    >
      <mat-icon
        *ngIf="((showHistory | async) ?? []).length > 0"
        (click)="removeAllHistory()"
        aria-hidden="false"
        aria-label="Remove history message"
        fontIcon="delete_outline"></mat-icon>
    </div>
  </div>
  <ng-container *ngIf="showHistory | async as _history">
    <div class="message" *ngFor="let historyId of _history">
      <mat-accordion multi>
        <ng-container *ngIf="(historyDetail(historyId) | async) as detail">
          <app-history-message
            *ngIf="isHistoryRecordMessage(detail)"
            [detail]="detail"
            (remove)="removeHistoryMessage(detail.id)"
          ></app-history-message>

          <app-history-connection
            *ngIf="isHistoryRecordConnection(detail)"
            [detail]="detail"
          ></app-history-connection>
        </ng-container>
      </mat-accordion>
    </div>
  </ng-container>
</div>
