:host {
  display: flex;
  flex-direction: column;

  @media (min-width: 992px) {
    flex-direction: row;
  }

  mat-icon {
    cursor: pointer;
  }

  width: 100%;
  height: calc(100% - 74px);

  .category-title {
    display: flex;
    flex-direction: row;

    .action {
      margin-left: 1.5rem;
      margin-top: 1.1rem;
    }
  }

  .send-request {
    display: flex;
    flex-direction: column;
    height: 100%;

    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px solid var(--mat-toolbar-container-background-color);

    .mat-drawer-container {
      min-height: 800px;
    }
    mat-drawer {
      width: 100%;
      min-height: 500px;

    }

    .form {
      display: flex;
      flex-direction: column;

      button {
        width: 100%;
      }
    }

    .mat-mdc-tab-body-wrapper {
      height: 100%;
    }

    width: 100%;

    @media (min-width: 992px) {
      width: 400px;

      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .history {
    flex-grow: 1;

    .message {
      margin-bottom: 1rem;
    }
  }
}
