<mat-dialog-content>
  <ng-container *ngIf="(networkStatus  | async) as _networkStatus; else notConnected">
    <h2 mat-dialog-title>Web-Man network status</h2>
    <ng-container *ngIf="_networkStatus.status === 'connected'; else notConnected">
      <div>
        Network id: <span>{{ _networkStatus.connectId }}</span>
      </div>
    </ng-container>
    <ng-container *ngIf="peerServerList | async as _peerServerList">
      <ng-container *ngIf="_peerServerList.length === 1">
          <div>
            Nickname: {{ _peerServerList[0].user.nickName }}
          </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #notConnected>

  </ng-template>

  <mat-divider></mat-divider>

  <ng-container *ngIf="peerServerList | async as _peerServerList">
    <ng-container *ngIf="_peerServerList.length === 0">
      <h3>Network details</h3>
      <form class="network"
            [formGroup]="networkForm"
            (ngSubmit)="submitNetworkForm()"
      >
        <mat-form-field >
          <mat-label>Nickname</mat-label>
          <input matInput [formControl]="networkForm.controls.nickname"   placeholder="Nickname"/>
        </mat-form-field>
        <button mat-raised-button [type]="'submit'" [color]="'primary'">Save network</button>
      </form>
    </ng-container>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
