<h3>
  Send message
  <mat-icon
    *ngIf="mode === 'ALREADY_EXISTING_MESSAGES'"
    (click)="closeDrawer()"
    aria-hidden="false"
    aria-label="Add Request"
    fontIcon="close_outline"></mat-icon>
</h3>
<form
  class="form"
  [formGroup]="sendRequestForm"
  (submit)="requestForm()"
>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      type="text"
      placeholder="Ex. Enable item (acceptance)"
      [formControl]="sendRequestForm.controls.name"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Event</mat-label>
    <input
      matInput
      type="text"
      [formControl]="sendRequestForm.controls.event"
      placeholder="Ex. Test">
  </mat-form-field>
  <mat-form-field class="body">
    <mat-label>Body</mat-label>
    <textarea
      rows="15"
      matInput
      type="text"
      [formControl]="sendRequestForm.controls.body"
      placeholder='Ex. {"foo": "bar"}'
    ></textarea>
  </mat-form-field>

  <div style="display: flex; flex-direction: column; row-gap: 10px">
    <button
      mat-raised-button
      color="primary"
      type="submit"
    >
      Send message
    </button>

    <button
      *ngIf="messageToEdit"
      mat-raised-button
      type="button"
      (click)="saveForm()"
    >
      Update message
    </button>
  </div>
</form>
