<div class="send-request">
  <h3>Connect to server</h3>
  <form [formGroup]="connectForm" (submit)="connectFormSubmit()" class="example-form"
        style="display: flex; flex-direction: column;">

    <mat-form-field>
      <mat-label>Server host</mat-label>
      <input
        matInput
        type="text"
        [formControl]="connectForm.controls.host"
        placeholder="Ex. websocket.example.com">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Server name</mat-label>
      <input
        matInput
        type="text"
        [formControl]="connectForm.controls.name"
        placeholder="Ex. Websocket example">
    </mat-form-field>

    <mat-accordion multi displayMode="flat">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Connection options
          </mat-panel-title>

        </mat-expansion-panel-header>

        <mat-form-field style="width: 100%">
          <mat-label>Auth token</mat-label>
          <input
            matInput
            style="width: 100%"
            type="text"
            [formControl]="connectForm.controls.authToken"
            placeholder="Ex. auth.token">
        </mat-form-field>

      </mat-expansion-panel>
    </mat-accordion>

    <div style="position: relative; margin-top: 10px;">
      <button
        mat-raised-button
        color="primary"
        class="full-width"

        [disabled]="(loading | async) ?? false"
      >
        Connect
      </button>
      <mat-progress-bar
        *ngIf="loading | async"
        color="accent"
        mode="indeterminate"
        style="position: absolute; bottom: 1px;"
      ></mat-progress-bar>
    </div>
  </form>
</div>

<div class="history">
  <ng-container *ngIf="history | async as _history">
    <mat-card class="server" *ngFor="let server of _history.list">
      <mat-card-header>
        <mat-card-title>
          {{ server.name }}
          <ng-container *ngIf="server.name !== server.host">({{ server.host }})</ng-container>
        </mat-card-title>

      </mat-card-header>
      <mat-card-actions>
        <button
          mat-raised-button
          (click)="connectFromHistory(server)"
        >
          Connect
        </button>
        <button
          *ngIf="server.id"
          mat-raised-button
          (click)="removeHistory(server.id)"
        >
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete_outline"></mat-icon>

        </button>
      </mat-card-actions>
    </mat-card>

  </ng-container>
</div>
